{# {% extends 'base.html' %} #}
{# {% block content %} #}
    {# <form action="{% url 'create todo' %}" method="POST"></form> #}
        {# {% csrf_token %} #}
        {# {{ form }} #}
        {# <button>Create</button> #}
    {# </form> #}
{# {% endblock %} #}


{% extends 'base_sidebar.html' %}
{% load todos_tags %}
{% block sidebar %}
{% todos_preview %}
{% endblock %}
{% block main_content %}
    <form action="{% url 'create todo' %}" method="POST">
        {% csrf_token %}
        {{ form }}
        <button>Create</button>
    </form>
{% endblock %}